%aside.main-sidebar.sidebar-dark-primary.elevation-4
  %a.brand-link{:href => "index3.html"}
    
    %span.brand-text.font-weight-light myApp

  %nav.mt-2
    %ul.nav.nav-pills.nav-sidebar.flex-column{"data-accordion" => "false", "data-widget" => "treeview", :role => "menu"}
      %li.nav-item
        %a.nav-link{:href => root_path}
          %i.nav-icon.fas.fa-tachometer-alt
          %p My Dashboard
      %li.nav-item
        %a.nav-link{:href =>  products_path}
          %i.nav-icon.far.fas.fa-layer-group
          %p Products
      %li.nav-item
        %a.nav-link{:href =>  categories_path}
          %i.nav-icon.far.fas.fa-layer-group
          %p Categoy

        

