%footer.main-footer
  %strong
    Copyright © 2021
    = succeed "." do
      %a{:href => "http://adminlte.io"} jefDrilon
  All rights reserved.
  .float-right.d-none.d-sm-inline-block
    %b Version
    0.0.1

