%nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
  %ul.navbar-nav
    %li.nav-item
      %a.nav-link{"data-widget" => "pushmenu", :href => "#", :role => "button"}
        %i.fas.fa-bars
    %li.nav-item.d-none.d-sm-inline-block
      %a.nav-link{:href => "index3.html"} Home
    %li.nav-item.d-none.d-sm-inline-block
      %a.nav-link{:href => "#"} Contact



%aside.main-sidebar.sidebar-dark-primary.elevation-4
  %nav.mt-2
    %ul.nav.nav-pills.nav-sidebar.flex-column{"data-accordion" => "false", "data-widget" => "treeview", :role => "menu"}
      %li.nav-item.menu-open
        %a.nav-link.active{:href => "#"}
          %i.nav-icon.fas.fa-tachometer-alt
          %p
            Dashboard
            %i.right.fas.fa-angle-left

        %ul.nav.nav-treeview
          %li.nav-item
            %a.nav-link.active{:href => administration_areas_path}
              %p 
                Areas
          %li.nav-item
            %a.nav-link.active{:href => "./index.html"}
              %i.far.fa-circle.nav-icon
                %p Dashboard v2

          %li.nav-item
            %a.nav-link.active{:href => "./index.html"}
              %i.far.fa-circle.nav-icon
                %p Dashboard v3

