%nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
  %ul.navbar-nav
    %li.nav-item
      %a.nav-link{"data-widget" => "pushmenu", :href => "#", :role => "button"}
        %i.fas.fa-bars


  %ul.navbar-nav.ml-auto
    %li.nav-item.dropdown
      %a.nav-link{"data-toggle" => "dropdown", :href => "#"}
        Jef Drilon
      .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
        %span.dropdown-item.dropdown-header My Account
        .dropdown-divider
        %a.dropdown-item{:href => "#"}
          %i.fas.fa-users
          Teams
        %a.dropdown-item{:href => "#"}
          %i.fas.fa-user-plus
          Invite Members
        %a.dropdown-item{:href => "#"}
          %i.fas.fa-key
          Log out
          
