- if @data.present?
  %hr
    %table#data-table.display.table.table-bordered.table-hover.table-sm
      %thead
        %tr
          %th Refference Number
          %th Name
          %th Category
          %th Price
      
      %tbody 
        - @data.each do |d|

          - d[:list].each do |l|
            %tr
              %td
                #{l[:refference_number]}
              %td
                #{l[:name]}
              %td
                #{l[:category]}
              %td
                #{l[:destination]}

      

