= form_tag "", method: 'GET' do
  .content-wrapper
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            %h1.m-0.text-dark Dashboard
          .col-sm-6
            %ol.breadcrumb.float-sm-right
              %li.breadcrumb-item
                %a{:href => "#"} Home
              %li.breadcrumb-item.active Dashboard

    %section.content
      .container-fluid
        .row
          .col
            .card
              .card-body
                %center
                  %label
                    Refference Number
                    = text_field_tag :new_search, "", id: "input-search" , class: "form-control", placeholder: "Reference #"
                %center
                  .btn-group
                    = button_tag type: 'submit', class: 'btn btn-info btn-block' do
                      Search
      
                = render partial: "index_list"

