.container
  .row
    .col
      #login-form
        .card
          .card-body
            %center
              Jef Drilon
            %hr
            .input-group
              .input-group-prepend
                .input-group-text
                  .fa.fa-user
              = text_field_tag :username, "", id: "input-username", class: "form-control", placeholder: "USERNAME"
            .input-group
              .input-group-prepend
                .input-group-text
                  .fa.fa-key
              = password_field_tag :password, "", id: "input-password", class: "form-control", placeholder: "PASSWORD"
            %hr
            .row
              .col
                .message
                %center
                  .btn-group
                    #btn-login.btn.btn-primary
                      .fa.fa-sign-in-alt
                      Login to System
