@import "bootstrap/dist/css/bootstrap";
@import '@fortawesome/fontawesome-free';
@import "admin-lte/dist/css/adminlte";

@import "@coreui/coreui/scss/coreui";
@import "./components/Sidebar";


@import "./login";


.c-sidebar {
  background: #2b2c2d;
}

.tab-pane {
  padding: 10px;
}

.callout {
  padding: 5px;
}

td {
  white-space: normal !important; // To consider whitespace.
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;

  .first {
    padding : 0;
    float: none;
    border: none;
  }

  .prev {
    padding : 0;
    float: none;
    border: none;
  }

  .page{
    padding : 0;
    float: none;
    border: none;
  }

  .next{
    padding : 0;
    float: none;
    border: none;
  }

  .last{
    padding : 0;
    float: none;
    border: none;
  }
}

#accounting-entry {
  .card-header {
    a {
      color: #fff;
      text-shadow: 1px 1px 1px #000;
    }
  }
}

label {
  font-weight: bold;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.bd-example-modal-lg .modal-dialog{
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}
  
.bd-example-modal-lg .modal-dialog .modal-content{
  background-color: transparent;
  border: none;
}

