= simple_form_for category do |f|
  = f.input :name, input_html: { class: "form-control"  }
  = f.input :code, input_html: { class: "form-control"  }
  %hr
  = button_tag type: :submit, class: "btn btn-primary" do
    Save
  = link_to products_path, class: "btn btn-default" do
    Cancel
