%table#data-table.display.table.table-bordered.table-hover.table-sm
  %thead
    %tr
      %th Name
      %th Code
      %th Action
  %tbody 
    - @categories.each do |category|
      %tr
        %td
          #{category.name.upcase}
        %td
          #{category.code.upcase}
        %td
          .btn-group
            = link_to edit_category_path(category), class: 'btn btn-sm btn-info' do
              .fa.fa-pencil-alt
              Edit
          .btn-group
            = link_to category_path(category), method: :delete  ,class: 'btn btn-sm btn-danger', data: { confirm: "Are you sure?" } do
              .fa.fa-pencil-alt
              Delete

