%section.content
.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-sm-6
          %h1.m-0.text-dark Products
        .col-sm-6
          %ol.breadcrumb.float-sm-right
            %li.breadcrumb-item
              %a{:href => "#"} Home
            %li.breadcrumb-item
              %a{:href => "#"} Products
            %li.breadcrumb-item.active Modified Product


  %section.content
    .container-fluid
      .card
        .card-body
          = render partial: "form", locals: { category: @category  }

