%section.content
.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-sm-6
          %h1.m-0.text-dark Categories
        .col-sm-6
          %ol.breadcrumb.float-sm-right
            %li.breadcrumb-item
              %a{:href => "#"} Home
            %li.breadcrumb-item.active Categories

  %section.content
    .container-fluid
      .card
        .card-body
          = render partial: "index_list"
        
        .card-footer
          = link_to new_category_path, class: 'btn btn-danger' do
            .fa.fa-times
            New
