= simple_form_for product do |f|
  = f.input :refference_number, input_html: { class: "form-control"  }
  = f.input :name, input_html: { class: "form-control"  }
  = f.association :category, input_html: { class: "form-control"  }
  = f.input :product_price, input_html: { class: "form-control"  }
  %hr
  = button_tag type: :submit, class: "btn btn-primary" do
    Save
  = link_to products_path, class: "btn btn-default" do
    Cancel
