%table#data-table.display.table.table-bordered.table-hover.table-sm
  %thead
    %tr
      %th Refference Number
      %th Name
      %th Category
      %th Price
      %th Action
  %tbody 
    - @products.each do |product|
      %tr
        %td
          #{product.refference_number.upcase}
        %td
          #{product.name.upcase}
        %td
          #{product.category.name.upcase}
        %td
          #{product.product_price.upcase}
        %td
          
          .btn-group
            = link_to edit_product_path(product), class: 'btn btn-sm btn-info' do
              .fa.fa-pencil-alt
              Edit
          .btn-group
            = link_to product_path(product), method: :delete  ,class: 'btn btn-sm btn-danger', data: { confirm: "Are you sure?" } do
              .fa.fa-pencil-alt
              Delete

