!!!
%html
  %head
    %title Myapp
    = csrf_meta_tags
    = csp_meta_tag

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
    %meta{ name: "parameters", content: "#{{ route: "#{params[:controller]}/#{params[:action]}", payload: (@payload || {}) }.to_json}" } 
    = stylesheet_link_tag 'application'
    = javascript_pack_tag 'application'
  
  %body.layout-fixed
    .wrapper
      .c-body
        %main.c-main
          .container-fluid
            = yield
      //= render partial: "shared/admin_footer"
